<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>

    @font-face {
      font-family: 'font1';
      src: url('../../assets/fonts/SourceCodePro-SemiBold.ttf');
    }

    body {
      font-family: 'font1';
    }

    span {
      color: #0091ff;
    }
    
  </style>
</head>
<body class="">

    <h1 class=""><span>&lt;</span>Home<span>/&gt;</span></h1>

    <div class="container">
        <h2><span>#</span> AngularLibrary</h2>

        <h3>- Front-end app for a public library -</h3>

        <h4><span>##</span> Subject</h4>
        <p>The project is to develop a front-end app for a public library that displays :</p>
        
        <ul>
            <li>navigation bar with</li>
            <li>link to books list</li>
            <li>link to members list</li>
            <li>link to loans list</li>
            <li>contact form</li>
        </ul>

        <p>List are loaded from static json files stored in the backend. Each list enables a click to a detail screen, showing the details of :</p>
        
        <ul>
            <li>book</li>
            <li>member</li>
            <li>loan</li>
        </ul>

        <p>Contact form enables to enter an email and a message, with a button to send the message (an alert or a modal will be displayed with the content entered).</p>
        
        <h4><span>##</span> Modalities</h4>
        <p>Project has to be done individually or by pair.</p>
        
        <h4><span>##</span> Technical stack</h4>
        
        <p>Front-end will be built using Angular.</p>
        <p>An additional CSS lib can be used for a better design, but it is not mandatory.</p>

        <h4><span>##</span> Deliverables</h4>
        <p>The expected deliverable will be a Git repo or a zip of your source code, with all your </p>
        
    </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
